* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    background-color: #313131;
width: 100%;
}

.menu img {

    margin: auto 27px;
}
.menu-logo {

    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.menu-list {
    display: flex;
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.list-item {
    margin-right: 35px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.list-item:hover {
    color: #14B9D5;
}

.search {
    display: flex;
    text-align: center;


}

.search i {
    background-color: black;
    color: white;
    padding: 26px;
}

.top {
    background-image: url("./img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.top-title {
    text-align: center;
    padding-top: 163px;
    padding-bottom: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: white;
}

.top-menu {
    display: flex;
    justify-content: center;
    gap: 20px;

}
.top-link-subscribe, .top-link-articles  {
    display: inline-block;
    padding: 16px 19px;
    border-radius: 2px;
    margin-bottom: 74px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;

}

.top-link-subscribe {
    background-color: #89CA62;
}

.top-link-articles {
    background-color: #14B9D5;
}

.posts {
    padding-top: 49px;
   background-color: #F2F2F2;
}

.posts-title {
    margin-bottom: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}

.post-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 896px;
    align-items: center;
    gap: 30px;
    align-content: center;
}

.post-item {
     width: 370px;
}

.item-title {
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
    color: #353A3D;
    background-color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.clients {
    /*padding: 0 auto;*/
    background-image: url("./img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.clients-wrapper {
    display: grid;
    grid-template-areas: "title title title title"
"hr hr hr hr"
"logo1 logo2 logo3 logo4";
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding-bottom: 191px;

}

.clients-title {
    grid-area: title;
    padding-top: 106px;
    padding-bottom: 87px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: white;
}
.clients-line {
    grid-area: hr;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: none;

}
.clients img {
    padding-top: 106px;
    padding-right: 27px;
    padding-left: 27px;


}
.clients-national-post {
    grid-area: logo1;
}
.clients-dryme {
    grid-area: logo2;
}
.clients-house-home {
    grid-area: logo3;
}
.clients-journy {
    grid-area: logo4;
}
.top-rated-wrapper {
    display: grid;

    grid-template-areas: "title title title title title title title"
"img1 img2 img3 img4 img5 img6 img7";
   justify-items: center;

}
.top-rated-title {
    grid-area: title;
    padding-top: 49px;
    padding-bottom: 51px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
}
.foto-kids {
    grid-area: img1;
}
.foto-kidsstore {
    grid-area: img2;
}
.foto-kids-store {
    grid-area: img3;
}
.foto-pools {
    grid-area: img4;
}
.foto-horses {
    grid-area: img5;
}
.foto-bill {
    grid-area: img6;
}
.foto-braz {
    grid-area: img7;
}
.news-wrapper {
    display: grid;
    grid-template-areas: "title title title title"
"box1 box1 box1 box2"
"box3 box3 box4 box4"
"box5 box5 box6 box6"
"box7 box8 box8 box8";

    justify-content: center;
    justify-self: center;
    margin-left: 372px;
    margin-right: 362px;
    column-gap: 35px;
    row-gap: 42px;
    margin-bottom: 71px;
}

.news-title {
    grid-area: title;
    padding-top: 49px;
    padding-bottom: 51px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
}



.news-emirate {
    grid-area: box1;
    display: grid;
    grid-auto-flow: column;
}
.news-spain {
    grid-area: box2;
}
.news-egypt {
    grid-area: box3;
}
.news-maldives {
    grid-area: box4;
    margin-left: 25px;
}
.news-tenerife {
    grid-area: box5;
}
.news-britain {
    grid-area: box6;
    margin-left: 25px;
}
.news-ireland {
    grid-area: box7;
}
.news-king {
    grid-area: box8;
    display: grid;
    grid-auto-flow: column;
}

.news-content {
    background: #F9F7F7;
    text-align: right;
    padding-right: 24px;
}

.news-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    }

.news-egypt .news-subtitle,
.news-maldives .news-subtitle,
.news-tenerife .news-subtitle,
.news-britain .news-subtitle {
    padding-top: 14px;
}




.news-emirate .news-subtitle,
.news-king .news-subtitle {
    padding-top: 41px;
}
.news-spain  .news-content,
.news-ireland .news-content  {
   text-align: center;
   padding: 11px 0px 11px;
}

.news-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    background: #F9F7F7;
    text-align: right;
    padding-left: 10px;
    padding-top: 15px;
}
.footer {
    background-color: black;
}
.footer-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding-bottom: 29px;
    padding-top: 35px;

}
.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
}
.footer-logo {
 display: grid;
    grid-auto-flow: column;
    align-self: flex-start;
}
