.App {
  /*text-align: center;*/
  /*background-image:url("https://static.tildacdn.com/tild3363-3337-4434-b663-656331346138/ecooboi-hlopok-cvety.jpg") ;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*background-size: cover;*/
  /*z-index: -10;*/

  /*background-image:url("https://comments.ua/img/publications/850x478/yFBHqGg2_bWO1G4GF4jDcebIzpdKwytd.jpg") ;*/

}

