* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.top:hover {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
}
/*.top::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 62px;
    left: 0;
    top: 0;
    background-color: #000000;
    z-index: +1;
    opacity: 0;
    transition: 0.5s;
}
.top:hover::before {
    opacity: 0.41;
}*/
.top-logo {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: white;
    position: relative;
    top: 3px;
}
.top-logo:hover {
    color: #01813F;
}
.top-menu {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 25px;
}
.menu-item:hover svg path {
    fill: #01813F;
}
.top-text {
    position: relative;
    padding-left: 53px;
}

.top-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    left: 24px;
    opacity: 0.5;
}

.top-login,
.top-sign,
.top-text {
    color: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.top-login:hover,
.top-sign:hover {
    color: #01813F;
}

.application-form {
    background: white;
    width: 444px;
    padding: 31px 60px 38px 60px;
    position: absolute;
    margin-top: calc(50vh - 58px - 292px);
    margin-left: calc(50vw - 222px);

}

.application-form::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #3CB878;
    background: #3CB878;
    left: 0;
    top: 29px;
}




.sign_up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 13px;
}
.sign_up-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: black;
}
.log_in {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    justify-self: end;
    align-self: end;
}
.log_in:hover {
    color: #01813F;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
 }

.button {
    width: 160px;
    height: 48px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
}
.fb {
    background: #305DB8;
    border: 1px solid #305DB8;
}
.fb:hover {
    background: #022263;
}
.google {
    background: #DF4A32;
    border: 1px solid #DF4A32;
}
.google:hover {
    background: #AB1F09;;
}

.button-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.text {
    text-align: center;
    display: block;
    position: relative;
    padding-top: 31px;
    padding-bottom: 11px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.text::before {
    position: absolute;
    content: "";
    width: 152px;
    height: 0;
    border: 1px solid #F2F2F2;
    background:#F2F2F2;
    left: 0;
    top: 38px;

}
.text::after {
    position: absolute;
    content: "";
    width: 152px;
    height: 0;
    border: 1px solid #F2F2F2;
    background:#F2F2F2;
    right: 0;
    top: 38px;
}
.form-field {
    width: 324px;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.form-field::placeholder {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    background-color: white;
    outline: none;
}


.check {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: black;
    position: relative;
}
.check::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    top: -4px;
}
.checkbox {
    margin-right: 15px;
    opacity: 0;

}

.checkbox-icon {
    position: absolute;
    right: 305px;
 }

 .checkbox-icon:hover path {
    stroke: #01813F;
}
.checkbox-link {
    color: #3CB878;
}


.checkbox {
    margin-right: 15px;
}
.checkbox-link:hover {
       color: #01813F;
    text-decoration: underline;
}
.form-submit {
    width: 324px;
    color: white;
    background: #3CB878;
    border-radius: 4px;
    border: none;
    padding: 16px 99px;
    margin-top: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.form-submit:hover {
   background: #01813F;
}

.bgi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/BG.png");
    background-size: cover;
    z-index: -1;
}
