.header {
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  padding-block: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0,0,0,1);
  margin-bottom: 10px;
}
.title {
  color: white;
  padding-top: 20px;
}
ul{
  display: flex;
  padding-right: 20px;

}
//.buttonFavour{
//  background-color: rgba(0, 0, 0, 0);
//  border: none;
//  cursor: pointer;
//  padding: 3px;
//
//}
.icon {
  width: 40px;
  list-style-type: none;
  margin: 15px;
  position: relative;
}


.iconCount {
  position: absolute;
  bottom: 17px;
  right: -5px;
  color: white;

}
.image {

}
.imageIcon {
  width: 100%;
  height: auto;
  &:active {
    width: 200%;
    cursor: default;
  }

}