.main {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;


  //background-image: url("https://static.tildacdn.com/tild3363-3337-4434-b663-656331346138/ecooboi-hlopok-cvety.jpg");
  //background-repeat: no-repeat;
  //background-position: center center;
  //background-attachment: fixed;
  //height: 100%;

}

.list{
  flex-direction: column;
}

.btnChange{
  position: absolute;
  right: 260px;
  top: 44px;
  width: 42px;
  list-style-type: none;
  border: none;
  background-color: rgba(28,28,28,0);
  //border: 2px solid yellow;
  border-radius: 4px;
  padding: 5px ;
}
.img{
  //background: yellow;
  //width: 100%;
}
.imgIcon {
   width: 30px;
  height: auto;
}
//.bgi {
//  text-align: center;
//  background-image:url("https://static.tildacdn.com/tild3363-3337-4434-b663-656331346138/ecooboi-hlopok-cvety.jpg") ;
//  position: absolute;
//  top: 0;
//  left: 0;
//width: 100vw;
//height: 150%;
//background-size: cover;
//z-index: -10;
//}
