* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 25px 330px;
    width: 1280px;


}

.menu-item {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: red;

}
 .foto {
     width: 1280px;
 }

.content {
    width: 1280px;
    margin: auto;
    padding-right: 67.5px;
    padding-left: 67.5px;
    color: #373737;
}
.title {
    margin-top: 48px;
    margin-bottom: 38px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
   }

.text {
    margin-bottom: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;

}

.button {
    margin-top: 38px;
    margin-bottom: 82px;
    width: 191px;
    height: 51px;
    border-radius: 4%;
    border: solid #FF0000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;

}
.footer {
    width: 1280px;
    margin: 0 auto 29px;

}
.text-footer {
    width: 1280px;
    text-align: right;
    padding-right: 105px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;

}