.item {

  display: flex;
  text-align: center;
  background: white;
  opacity: 0.8;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid white;
  border-radius: 2px;
}
.image {
  width: 300px;
  height: 250px;
  overflow: hidden;

}
.imagePicture{
  height: 250px;
  width: auto;
}
.itemInfo {

}
.text {
  color: darkslategray;
}
.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
}
.btnDel {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 40px;
  background: unset;
  border: unset;
  outline: none;
  cursor: pointer;
}
.btnDelCross{
  width: 100%;
}
.btnCount {
  width: 40%;
  background-color: darkslategray;
  color:white;
  border:2px solid darkslategray;
  border-radius: 2px;
  padding-inline: 10px;

}
.count {
  margin-inline: 10px;
  font-weight: bold;
}