* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.container {
    width: 1280px;
    text-align: center;
    margin: 0 auto;

}


.title {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    transition: 0.5s; /*поменять цвета спана и осн тайтла*/

}
.title-logo {
    color: deepskyblue;
}
.title-black {
    color: #000000 ;
}
.title:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    background-color: #35444F;
    color: #FFFFFF;
    margin-bottom: 48px;

}
.item {
    border-left: 1px solid #ffffff;
}
.menu-item {
    padding: 26px 33px 19px 33px;
    border-right: 1px solid #ffffff;
    transition: 0.5s;
}
.menu-item:hover {
    background-color: #222F3A;;
}

  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content-menu {
    width: 344px;
    border: 1px solid #000000;
    }
.content-menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: left;
    padding-left: 44px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    transition: 0.5s;
}
.content-menu-item:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: 74px;
}
.content-info {
    width: 885px;
}
.info-top {

    background-image: url(./top-img-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.scale-info-top {
    display: inline-block;
    overflow: hidden;
    width: 320px;
}

.scale-info-top img {
    transition: 1s;
}

.scale-info-top img:hover {

    transform: scale(1.1);
}
.info-text{
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align: left;
}
.text {
    margin-bottom: 34px;
}
.footer {
    background-color: rgba(99, 105, 110, 0.48);
    padding-left: 40px;
    text-align: left;
    margin-bottom: 30px;

}
.footer-menu {
    display: inline-block;
    }

.footer-menu-item {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-right: 30px;
    transition: 0.5s;
}
.footer-menu-item:hover {
    color: steelblue;
    text-decoration: underline;
}
.footer-text {
    display: inline-block;
    padding-left: 105px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    text-align: right;
}