
.title-logo {
    color: steelblue;
}
.title-black {
    color: midnightblue;
}
.menu {
     background-color: darkblue;
    color: #FFFFFF;
}
.item {
    border-left: 1px solid #ffffff;
}
.menu-item {
    border-right: 1px solid #ffffff;
}
.menu-item:hover {
    background-color: midnightblue;;
}
.content-menu {
    border: 1px solid darkblue;
    }
.content-menu-item {
   color: darkblue;
 }
.content-menu-item:hover {
    background-color: steelblue;
    color: midnightblue;
}
.info-top {
    background-image: url(./top-img-fon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.info-text{
    color: darkblue;
}
.footer {
    background-color: darkblue;
}
.footer-menu-item {
    color: steelblue;
}
.footer-menu-item:hover {
    color: steelblue;
}
.footer-text {
    color: white;
}