* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-image: url("./img/sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 243px;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.menu-back {
    background: rgba(94, 93, 88, 0.6);
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo {
    display: flex;
    align-items: center;
}
.logo {
    background-color: #18CFAB;
    margin-bottom: 26px;
    margin-top: 26px;
    margin-right: 6px;
    padding: 18px 13px;
    clip-path: polygon(50% 0, 100% 25%,100% 75%, 50% 100%, 0 75%, 0 25%);
}
.logo-letter {
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.title-white {
    font-size: 32px;
    line-height: 48px;
    color: white;
}
.title-green {
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
    font-weight: bold;
}
.menu-list {
    display: flex;

}
.menu-item {
    margin-right: 21px;
    font-weight: bold;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 51px;
    padding-top: 50px;
    transition: 0.5s;
    border-bottom: 2px solid  rgba(0, 0, 0, 0);

}
.menu-item:hover {
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}


.top {
    margin-top: 284px;
    text-align: center;
}
.top-subtitle {
    font-weight: bold;
    font-size: 35px;

    color: white;
}
.top-subtitle-green {
    font-weight: bold;
    font-size: 35px;
    color: #18CFAB;
}
.top-title {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 78px;
    color: white;
}
.top-text {
    font-size: 26px;
    color: #bdbebd;
}
.top-menu {
    margin-top: 134px;
    display: flex;
    gap: 26px;
    justify-content: center;

}
.top-button-white-explore,
.top-button-white-purchase {

    position: relative;
    width: 169px;
    height: 63px;
    border-radius: 6%;
    background: white;

}
.top-button {

    width: 169px;
    padding: 16px;
    border-radius: 6%;
    top: 4px;
    left: 0;
    position: absolute;
}
.green {
    background-color: #18CFAB;
    /*margin-right: 26px;*/
}
.blue {
    background: #00CBF6;
}

.top-button-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: white;
}
.block-squares {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.square {
    width: 100%;
    padding-bottom: 110px;
    padding-top: 85px;
    text-align: center;
}
.black {
    background: #1C2A33;;
}
.square-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
.white-text {
    color:white;
}
.green-text {
    color: #18CFAB;
}
.img-hand {
    /*margin: 93px auto 47px;*/
    /*padding-top: 93px;*/
    margin-bottom: 47px;
}
.img-diamond {
    margin-top: 11px;
    margin-bottom: 58px;
}
.img-lamp {
    margin-bottom: 48px;
}
.img-device {
    margin-top: 10px;
    margin-bottom: 58px;
}
.our-services {
    padding-top: 83px;

}
.title {
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
}
.title::before{
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background:  #18CFAB;
    top: 64px;
    left: 535px;
}
.title::after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background: #18CFAB;
    top: 68px;
    left: 540px;
}
.our-services-menu {
    display: flex;
    margin-top: 101px;
    margin-bottom: 23px;
}
.our-services-item {
    display: block;
    width: 192px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    transition: 0.5s;

}

.active {
    display: block;
    width: 192px;
    background: #18CFAB;
    border: 1px solid #18CFAB;
    font-size: 16px;
    line-height: 39px;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    transition: 0.5s;
    position: relative;
}
.active::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #18CFAB;
    transform: rotate(45deg);
    bottom: -8px;
    left: 90px;
    position: absolute;
 }
.our-services-item:hover {
    border: 1px solid #18CFAB;
}

.content-item {
    color: #777777;
    font-size: 16px;
    display: flex;
    gap: 15px;
}
.content-img {
    width: 192px;
}
.content-item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.our-services-content li:not(:first-child){
    display: none;
}


.purchase-now {
    margin-top: 91px;
    background-image:url("./img/sections background/section-2.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 126px;
    padding-bottom: 126px;
    text-align: center;
    position: relative;
    z-index: -1;
}
.purchase-now::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.8;
    z-index: -1;
}
.purchase-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
}
.purchase-text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
.purchase-button-white {
    margin: 62px auto 0 auto;
    width: 168px;
    height: 63px;
    background: white;
    position: relative;
    border-radius: 6%;
}
.purchase-button {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -4px;
    left: 0;
    border-radius: 6%;
    background: #18CFAB;
    /*margin: 62px auto 0 auto;*/
    padding-bottom: 16px;
    padding-top: 16px;

}
.purchase-button-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: white;
}
.grey-list {
    background: #E9EDEF;
}
.our-amazing-work {
    padding-top: 96px;
    text-align: center;
    position: relative;
}

.amazing-work-menu {
    margin: 97px auto 97px auto;
    display: flex;
    justify-content: center;
}

.amazing-work-item {
    display: block;
    padding: 14px 15px;
    border: 1px solid #DADADA;

}
.amazing-work-item .all {
    padding-left: 28px;
    padding-right: 28px;
    font-size: 14px;
    line-height: 42px;
}
.active-item {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.amazing-work-wrapper {
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}
.amazing-work-img {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.img {
    width: 100%;
    height: 100%;
}
.item-hover {
    box-sizing: border-box;
    border-top: 5px solid #18CFAB;
    background: #E9EDEF;
    width: 100%;
    position: absolute;
    top: -220px;
    left: 0;
    height: 100%;
    transition: 0.5s;
}
.hover-circles-blok {
    display: flex;
    margin: 48px auto 25px;
    gap: 3px;
    justify-content: center;
}
.hover-circle {
    width: 41px;
    height: 41px;
    border: 1px solid #18CFAB;
    border-radius: 45%;
    position: relative;
}
.full {
    background: #18CFAB;
}
.hover-circle-img {
    position: absolute;
    top: 12px;
    left: 12px;
}
.white-square {
    width: 14px;
    height: 14px;
    border: 1px solid #18CFAB;
    background: white;
}
.hover-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}
.hover-subtitle {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.amazing-work-img:hover .item-hover{
    top: 0;
}
.amazing-work-button {
    margin-top: 70px;
    margin-bottom: 99px;
    width: 168px;
    background: #18CFAB;
    padding-top: 13px;
    padding-bottom: 8px;
    border: 1px solid #18CFAB;
    border-radius: 4%;
   text-align: center;
    position: relative;

}
.img-button {
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 23px;
}
.text-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    color: white;
    display: inline-block;
    padding-left: 50px;
}

.breaking-news {
    padding-top: 82px;
    position: relative;
}

.breaking-news-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 44px;
}
.breaking-news-post {
    background: #F8FCFE;
    position: relative;
}
.breaking-news-post::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 1px;
    background: #777777;
    top: 252px;
    left: 102px;
}
.breaking-news-post::after {
    position: absolute;
    content: "12  Feb";
    line-height: 25px;
    width: 48px;
    height: 49px;
    color: white;
    background:#203E38;
    padding: 10px;
    text-align: center;
    justify-items: center;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.breaking-news-info {
    width: 263px;
    padding-left: 14px;
    padding-bottom: 15px;
    border: 1px solid #F2F4F5;
}
.breaking-news-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    transition: 0.5s;
}
.breaking-news-post:hover::after{
    background:#18CFAB;
}
.breaking-news-post:hover .breaking-news-subtitle {
    color: #18CFAB;
}
.breaking-news-text {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #777777;
    padding-left: 5px;
    padding-right: 22px;
}
.people {
    margin-top: 129px;
    background-image: url("./img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
.people-title {
    font-size: 36px;
    line-height: 40px;
    color: white;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 104px;
    position: relative;

}
.commas {
    display: block;
    margin: 99px auto 38px auto;
    text-align: center;
}
.people-title::before {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background:  #18CFAB;
    top: 165px;
    left: calc((100% - 83px)/2);
}
.people-title::after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background:  #18CFAB;
    top: 168px;
    left: calc((100% - 69px)/2);
}
.person-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}
.person-title {
    display: block;
    margin: 37px auto 8px auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-align: center;
}
.person-subtitle {
    font-weight: 300;
    font-size: 12px;
    color: white;
    text-align: center;
}
.person {
    margin: 38px auto;
    width: 166px;
    position: relative;
    padding: 12px;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
}
.swiper.slider {
    width: 1160px;
    padding-bottom: 219px;

}
.swiper-pagination {
    width: 166px;
    position: relative;
}
.swiper-img {
    position: absolute;
    top: calc((100% - 142px)/2);
    left: calc((100% - 143px)/2);
}
.person-img {
    width: 100%;

}
.swiper.slider .swiper-pagination-bullet.person-pagination-item {
    display: inline-block;
    width: 59px;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    height: 60px;
    padding: 2px;
    margin: 19px;
    transition: 0.5s;

}

.swiper.slider .swiper-pagination-bullet.person-pagination-item {
    opacity: 1;
    transition: 0.5s;
}
.slider .swiper-pagination.person-pagination {
    bottom: 104px;

}
.swiper.slider .swiper-pagination-bullet.person-pagination-item.swiper-pagination-bullet-active {
  transform: translateY(-20px);


}
.swiper-button-prev.person-button-prev,
.swiper-button-next.person-button-next {
    border: 1px solid #BBBBBB;
    top: 77%;
    width: 33px;
    height: 34px;
}
.swiper-button-next.person-button-next:after,
.swiper-button-prev.person-button-prev:after {
    font-size: 14px;
    color: #BBBBBB;
}
.swiper-button-prev.person-button-prev:hover,
.swiper-button-next.person-button-next:hover{
    background: #18CFAB;
    border: 1px solid #18CFAB;
}
.swiper-button-prev.person-button-prev:hover:after,
.swiper-button-next.person-button-next:hover:after {
    color: white;
}
.swiper-button-next.person-button-next {
   right: 350px;
}
.swiper-button-prev.person-button-prev {
    left: 350px;

}


.best-images {
    position: relative;
    padding-top: 95px;
}
.best-images-wrapper {
    margin-top: 168px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 985px;
}
.best-images-item {
    /*width: 378px;*/
}
.best-images-item-block {
 display: flex;
    column-gap: 3px;
}

.best-images-grid {
    width: 364px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}
.button-best-images {
    margin: 50px auto 76px;
    display: block;
}
.footer-block {
    background: #22353F;
    padding-bottom: 47px;
    padding-top: 48px;
}
.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
}
.footer-text-green {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #18CFAB;
}