.App {
  text-align: center;
justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.first_modal {
  background-color: tomato;


  &_btn {
    background: rgba(0, 0, 0, .3);
    border: rgba(0, 0, 0, .3);
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    margin-inline: 10px;
  }
}
.second_modal {
  background-color: deeppink;
  &_btn {
    background: rgba(0, 0, 0, .3);
    border: rgba(0, 0, 0, .3);
    border-radius: 3px;
    color: white;
    margin-inline: 10px;
    &_ugly {
      padding: 7px 7px;
      &:hover {
        background-color: deeppink;
        color: deeppink;
       transition: 0.5s;
      }
    }
    &_good {
      padding: 20px 30px;
      font-weight: bold;
      &:hover {
        background-color: white;
        color: deeppink;
        transition: 0.5s;
      }
    }
  }

}
.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  border-radius: 3px;

  outline: none;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  filter: brightness(.9);


}