* {
  box-sizing: border-box;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  cursor: pointer;
  z-index: 1;
}
.modalMainContainer {

  z-index: 2;
  background-color: gray;
  border: 1px solid ;
  border-radius: 5px;
  box-sizing: border-box;
  //padding: 40px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;


}

.modalContentWrapper {
  margin-bottom: 30px;

}
.modalHeader {
  background: rgba(0, 0, 0, .2);
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.modalBody {
  color: white;
  padding-inline: 20px;
  padding-top: 20px;
}
.modalText{

}
.modalButtonWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

}

.btnX {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: gray;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
}