.avatar {
    width: 35px;
    height: 35px;
    background-color: #00CBF6;
    border: 2px solid blue;
    border-radius: 90px;

}
.container-user {
    width: 25%;
}
.container {
    display: flex;
    background-color: lightblue;
    margin-inline: 50px;
}
.div-card {
    background-color: white;

    border: 2px solid #031D5B;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}
.delete-btn {
   width: 80px;
    height: 40px;
    background-color: #00CBF6;
    border-radius: 5px;
    border: 2px solid #00CBF6;
    margin-left: 90%;
    margin-block: auto 5px;
}
.person {

    border: 2px solid #031D5B;
    border-radius: 45%;
    background-color: white;
}
.btn-text {
    text-decoration: none;
    color: yellow;
}