.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin-bottom: auto;
  gap: 20px;
  background: white;
  opacity: 0.8;
  padding: 10px;
}

.btnSubmit {
  width: 100%;
  border: 2px solid white;
  border-radius: 3px;
  background: gray;
  color: white;
  padding-block: 5px;
}
.error {
  color: red;
  font-weight: bold;
}
