* {
    box-sizing: border-box;
}
.class {
width: 100vw;
    height: 100vh;
    border: 40px solid black;
    background: #222222 ;
    overflow: hidden;
}
.link {
    display: block;
    perspective: 100px;
}

.container {
    margin-inline:auto;
    margin-top: 0px;
    margin-bottom: 20px;
    width:400px;
    height: 800px;
    background-color: #222222;
    position: relative;
    transition: transform 0s;

}

.text {
    background-color: #222222;

    width: 400px;
    transition: transform 30s linear;
    position: absolute;
    bottom: 0;
    animation-name: test-animation;
    animation-duration: 30s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.title_sw,
.text_sw {

    text-align: center;
    font-family: sans-serif;
    color: #E8C300;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
@keyframes test-animation {
   0% {
       bottom: 0;
   }
   100% {
        bottom: 70vh;
}
}


.link:link .container {
    transform: scale3d(1, 1, 1.7) rotateX(10deg);
}


