.card {
  position: relative;
  border: 2px solid white;
  border-radius: 2px;

}
.cardList {
  position: relative;
  border: 2px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;

}

.infoCardList {
  flex-grow: 1;
  border-left: 1px solid white;

}
//.image {
//  width: 300px;
//  height: 250px;
//
//  //overflow: hidden;
//
//}
.image {
  width: 300px;
  height: 250px;
  overflow: hidden;
}
.imageIcon{
  height: 250px;
  width: auto;
}
.cardInfo {
  padding: 8px;
  background: white;
  opacity: 0.8;
}
.title {
  color: darkslategray;
  display: block;
  text-align: center;
}
.color {
  color: darkslategray;
}
.price {
  color:darkslategray ;
}
.addBtn {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;

  font-weight: bold;

  border: 2px solid gray;
  cursor: pointer;
}
.addBtnList {
  width: 100%;
  padding: 20px;
  background-color: gray;
  color: white;

  font-weight: bold;

  border: 2px solid gray;
  cursor: pointer;
}
.likeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  background: unset;
  border: unset;
  outline: none;
  cursor: pointer;

}
.likeBtnList {
  position: absolute;
  left: 255px;
  top: 5px;
  width: 40px;
  background: unset;
  border: unset;
  outline: none;
  cursor: pointer;
}
.likeBtnIcon{
  width: 100%;
}