.containerFavourite {
    display: flex;
    gap: 20px;
    margin: 20px;

}
.bgi {
    text-align: center;
    background-image:url("https://static.tildacdn.com/tild3363-3337-4434-b663-656331346138/ecooboi-hlopok-cvety.jpg") ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150%;
    background-size: cover;
    z-index: -10;
}