body {
    background-image: url("https://static.tildacdn.com/tild3363-3337-4434-b663-656331346138/ecooboi-hlopok-cvety.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}