* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*background-image: url("./img/background 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}


.container {
    background-image: url("./img/background 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    padding-top: 46px;
}

.content {
    width: 1023px;
    /*text-align: center;*/
    margin: 0 auto;
}

.top {
    display: grid;
    grid-template-areas: "house mail"
"house phone";
    justify-content: space-between;
      margin-bottom: 17px;


}

.top-logo {
   grid-area: house;

    display: flex;
     gap: 8px;
    align-self: center;
    position: relative;

}
.img-logo {

    width: 53px;
    padding-bottom: 10px;

}
.img-logo-hover {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.top-logo:hover .img-logo-hover {
    opacity: 1;
}

.logo-title {
    color: white;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    transition: 0.5s;
}
.logo-subtitle {
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    top: 3px;
    transition: 0.5s;
}
.top-logo:hover .logo-title,
.top-logo:hover .logo-subtitle {
    color: #F26522;
}
.top-mail {
    grid-area: mail;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    transition: 0.5s;

}
.top-phone {
    grid-area: phone;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    justify-self: end;
    align-self: end;
    transition: 0.5s;

}
.top-mail:hover,
.top-phone:hover {
    color: #F26522;
}


.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    row-gap: 37px;
}
.info-item {
   /* position: relative;
    overflow: hidden;*/
}
.info-img {

    position: relative;
    overflow: hidden;
}
.info-img .img {
    display: block;
    width: 300px;
    height: 220px;/*я знаю, что так лучше не делать, картинка совсем кривая*/
}
.item-hover {
    position: absolute;

    width: 100%;
    height: 55px;
    display: flex;

    background: #F26522;
    color: #FFFFFF;
    padding: 7px 14px 12px 16px;
    opacity: 1;
    transition: 0.5s;
    bottom: -120px;
}
.info-item:hover .item-hover {
    bottom: 0;
}
.info-item:hover .item-title {
    color: #F26522;
}

.item-hover::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    top: 31px;
    right: 14px;
}
.item-text {
    text-align: left;
    font-size: 10px;
    line-height: 10px;
    color: white;
}
.item-price {
    font-size: 20px;
    line-height: 20px;
    color: white;
    position: relative;
    top: 8px;
}
.item-subtitle {
    padding-right: 14px;
    justify-content: end;
    position: relative;
    top: 20px;
    left: 125px;
}

.item-title {
    padding-top: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
}
.footer {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: white;
    padding: 49px 513px 15px 530px;
}