
@mixin flex($horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin text ($font-style: normal, $font-weight: normal, $font-size: 11px, $line-height: 22px ){
	font-family: $primary-fonts;
	font-style: $font-style;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
}

