$primary-color: #4E4E4E;
$subtitle-color: #7C7C7C;
$text-color: #5C5C5C;
$back-color: #000000;
$color-footer-text: #B9B9B9;
$color-footer-title: #FEFEFE;
$color-insta-little:rgba(0, 0, 0, 0.0001);
$color-menu-back:#F5F5F5;


$primary-fonts: 'Roboto', sans-serif;