@import "mixins";
@import "reset";
@import "variables";
.container {
  box-sizing: border-box;
  padding-inline: 25px 28px;
  justify-content: left;

}
.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 23px;
  padding-bottom: 23px;

  &__menu {
    display: none;

  &-item {
    @include text;

    letter-spacing: 1.1px;
    color: $primary-color;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 12px;
    padding-top: 4px;

    &-blue{
      color: #57A4A4;
    }
  }
}

  &__burger {
    //position: relative;
    //overflow: hidden;
    //box-sizing: border-box;
    //background-color: $back-color;
    //@include flex;
    //flex-direction: column;
    //row-gap: 2px;
    //width: 44px;
    //height: 37px;

    //&-line {
    //  width: 17px;
    //  height: 2px;
    //  border-radius: 2px;
    //  background-color: white;
    //}

    &-close {
      //position: absolute;
      //top: 0;
      //left: 0;
      //width: 44px;
      //height: 37px;
      //background-color: $back-color;
      //display: none;
      //&-svg{
      //  position: relative;
      //  bottom: 2px;
      //}


  }}
  &__img {
    width: 100%;
  }
  @media (max-width: 767px) {
    position: relative;

    &__menu {
      &-active {
        position: absolute;
        z-index: 2;
        bottom: -160px;
        right: 0;
        transition: 0.5s;
        flex-direction: column;
        justify-content: flex-start;
        background:$color-menu-back;
        width: 170px;
        display: flex;
      }
       &-item {
        &:hover,
        &:active {
          background: #E5E5E5;
          padding-left: 14px;
        }}
    }

    &__burger {
      box-sizing: border-box;
      background-color: $back-color;
      @include flex;
      flex-direction: column;
      row-gap: 2px;
      width: 44px;
      height: 37px;
      &-line {
        width: 17px;
        height: 2px;
        border-radius: 2px;
        background-color: white;
      }

      &-close {
        width: 44px;
        height: 37px;
        background-color: $back-color;
        display: none;
        &-svg{
          position: relative;
          bottom: 2px;
        }
      }
    }


      }
  @media (min-width: 768px) {
    justify-content: center;
    &__burger {
      display: none;
      &-close {
        display: none;
      }
    }
    &__menu {
      display: flex;
      &-item {
        padding-inline: 17px;
      }
    }
  }
}


    .posts {
   margin-top: 38px;
      margin-bottom: 40px;

   &__list {

     justify-content: flex-start;
     gap: 28px;
   }
     &__title {
       @include text ($font-weight: bold, $font-size: 14px,);
       color:$primary-color;
       text-transform: uppercase;
       display: inline-block;

       margin-bottom: 23px;

     }

      &__list-item {
        margin-bottom: 28px;
      }
     &__img{
       //margin-bottom: 11px;
     }
     &__subtitle {
       @include text ($font-weight: bold, $font-size: 16px, $line-height: 30px);
       color: $primary-color;
     }
     &__info {
       @include text ($line-height: 20px);
       color: $subtitle-color;
     }
     &__text {
       @include text ($font-size: 14px, $line-height: 26px);
       color:$text-color;
       display: none;
     }
     &__last {
       display: none;
     }

      @media (min-width: 768px){
        &__list-item {
          display: flex;
          column-gap: 20px;
        }

        &__text {
         display: block;
        }
        &__last {
          display: flex;
        }
      }


      @media (min-width: 768px) and (max-width: 1199px){
        margin-top: 56px;


      }
      @media (min-width: 1200px) {
        margin-top: 66px;
        &__list {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 380px;
        }

      }
   }
    .insta {
      padding: 38px 47px 42px 25px;
      background: rgba(0, 0, 0, 0.0001);


      &__block {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      &__img {
        width: 100%;

      }
      &__top{
        padding-bottom: 13px;
      }
      &__top-title {
        @include text ($font-weight: bold, $font-size: 14px);
        color: $primary-color;
        text-transform: uppercase;
      }
      &__top-subtitle {
        display: none;
        @include text ($font-weight: bold, $font-size: 13px);
        color: $primary-color;
        text-transform: uppercase;
      }
      &__mid,
      &__big {
        display: none;
      }

      @media (min-width: 768px) {
  padding-top: 47px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.05);
  &__top{
    display: flex;
    justify-content: space-between;
  }

  &__top-title {
    @include text ($font-weight: bold, $font-size: 16px);
  }

  &__top-subtitle {
    display: block;
  }
        &__mid {
          display: block;
        }
}

      @media (min-width: 768px) and (max-width: 1199px) {
        &__block {
          margin-top: 35px;
          grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
          column-gap: 10px;
        }

    }

     @media (min-width: 1200px) {

       &__block {
         margin-top: 27px;
         grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
         column-gap: 10px;
       }
       &__big{
         display: block;
       }

     }

}



    .footer {
      background: $back-color;
      text-align: center;
      padding: 38px 35px 47px 35px;


      &__title {
        @include text($font-weight: bold, $font-size: 14px);
        color: $color-footer-title;
        text-transform: uppercase;
        display: inline-block;
        padding-bottom: 8px;
      }

      &__text {
        @include text($font-size: 12px, $line-height: 20px);
        color: $color-footer-text;
      }
     &__text-big{
       display: none;
     }

      &__icons {
        padding-top: 28px;
        padding-bottom: 25px;
      }

      &__contact {
        @include text($font-size: 14px, $line-height: 24px);
        color: $color-footer-text;

      }
      &__big{
        display: none;
      }

      @media (min-width: 768px) {

        &__title {
          @include text($font-weight: bold, $font-size: 16px);
          padding-bottom: 22px;
        }
        &__text{
          display: none;
        }
        &__text-big {
          display: block;
          @include text($font-size: 16px, $line-height: 28px);
          color: $color-footer-text;
        }
        &__icons {
          padding-top: 37px;
          padding-bottom: 34px;
        }
        &__contact {
          @include text($font-size: 14px, $line-height: 24px);
          color: $color-footer-text;
          display: none;
        }
        &__big {
          display: block;
        }
      }
    @media (min-width: 768px) and (min-width: 1199px){
      padding-top: 57px;
      padding-bottom: 56px;
    }
    @media (min-width: 1200px) {
      padding-top: 66px;
      padding-bottom: 70px;
        }
    
    }



